@import 'includes/contact';
@import 'includes/portfolio';
@import 'includes/shop';
@import 'includes/footer';
@import 'includes/index';
@import 'includes/nav';

/**Testing Area**/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 48%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  background-color: #c21954;
  border: none;
  border-radius: 0.25em;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 1%;
  margin-top: 0.2%;
}





/**Testing Area ENDS**/

body {
	padding: 0;
	margin: 0;
	background-color: #e3e3e3;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

p, li {
  font-size: 1.25em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}









/**Projects Universal Code**/
.projecth1 {
  /*color: #262626;*/
  color: white;
  font-size: 250%;
  // margin-left: 10%;
  // font-family: 'Montserrat', sans-serif;
  // margin-bottom: -2%;
  // padding-bottom: 0.5em;
}

.projecth2 {
  color: white;
  // margin-left: 10%;
}

.projecth3 {
  color: white;
  // margin-left: 10%;
}


.projectContainer2 {
  /* background-color: #317d91; */
  padding-top: 1%;
  color: white;
}

.projectImg3 {
  /* background-color: #701334; */
  width: 36%;
  border-radius: 0.25em;
  margin-left: 9%;
  margin-bottom: 1%;
  margin-top: 5%;
  box-shadow: 4px 10px 16px 1px rgba(33,33,33,.09);
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.projectImgContainer2 {
  /* background-color: #701334; */
  width: 100%;
}


.projectDescription {
  width: 40%;
  color: white;
  margin-left: 10%;
}

.row {
  width: 100%;
  overflow: auto;
}

.col3 {
  width: 33%;
  float: left;
  padding: 2.5%;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .projectDescription {
    width: 80%;
  }

  .col3 {
    width: 100%;
    // padding: 2% 10%;
  }
}

@media only screen and (max-width: 600px) {
  .projecth2, .projecth3 {
    width: 80%;
    line-height: 1.4em;
  }

  .projecth1, .projecth2, .projecth3 {
    margin: 0%;
  }

  .button {
    margin: 5% 0% !important;
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .projectImg3 {
    width: 80%;
    margin-bottom: 5%;
    margin-left: 10%;
  }
}