.footer {
  background-color: #333;
  color: white;
  padding: 2%;
  // height: 4em;
  padding-left: 10%;
  padding-right: 10%;
  overflow: auto;
}

.footerh4 {
  float: left;
}

.footerLinks {
  float: right;
}

.footerImg {
  width: 50%;
}

.social-footer {
  width: 30%;
  color: white;
  font-size: 300%;
}



.sitemap {
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) /**Mobile Optimization**/ {
  .footer {
    padding-right: 5%;
    padding-left: 5%;
  }
  .footerImg {
    padding-top: 10%;
    width: 70%;
    float: right;
  }
  .footerLinks {
    width: 20%;
  }
}