.button {
  text-decoration: none;
  color: white;
  background-color: #317d91;
  font-size: 1.5em;
  padding: 1% 2%;
  // border-radius: 0.25em;
  display: inline-block;
  margin: 2% 0%;
  width: auto;
}


.portfolioContainer2 {

}

.porth2 {
    // font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #eee;
}

@media only screen and (max-width: 600px) {
  .porth2 {
    width: 80%;
    margin-left: 7%;
  }
}

.portImg2 {
  width: 30%;
  display: inline;
  border-radius: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  box-shadow: 4px 10px 16px 1px rgba(33,33,33,.09);
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.portImg2:hover {
    cursor: pointer;
}



.come-in {
  left: 100px;
  animation: come-in 0.8s ease forwards;
}
.already-visible {
  left: 0;
  animation: none;
}

@keyframes come-in {
  to { left: 0; }
}

.logoSection {
  background-color: #701334;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.uxSection {
  background-color: #317d91;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.digitalartSection {
  background-color: #701334;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.portImg2:hover {
  box-shadow: 5px 11px 17px 2px rgba(33,33,33,.2);
}

/*Overlay*/
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.96); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  overflow: auto;
  // padding: 5%;
  // padding-right: 5%;
}

@-webkit-keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}
@keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}
/**PORTFOLIO ENDS**/


@media only screen and (max-width: 600px) {
  .portImg2 {
    width: 80%;
    margin-bottom: 11%;
    margin-left: 7%;
  }
}